.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id
*.iml
*.ipr
*.iws
.idea/
.vscode/
.DS_Store
*.log
*.symbols
*.map.json
