# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
doc/api/
**/ios/Flutter/.last_build_id
example/android/local.properties
example/ios/Flutter/ephemeral/

# IDEs
*.iml
*.ipr
*.iws
.idea/
.vscode/

# OS / misc
.DS_Store
*.log
*.symbols
*.map.json
